ul, ol {
  padding: 0;
  margin: 0;
}

ul li, ol li {
  list-style: none;
}

.lucky-content {
  background-color: #f8f8f8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
}


.upload-button{
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.upload-button .btn{
  height: 45px;
  background-color: darkorange;
  font-size: larger;
  color: black;
}

.upload-button .btn.btn2{
  background-color: #b7b5ff;
  margin-top: 10px;
  padding: 5px 15px 5px 15px;
}

.lucky-content .menu-reports-content{
  height: calc(100% - 200px);
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.lucky-content .menu-reports-content .list-menu-items{
  display: inline-block;
  width: 90%;
}

.lucky-content .menu-reports-content .list-menu-items .menu-item{
  float: left;
  padding: 5px;
  cursor: pointer;
  margin: 6px;
  background-color: #fff;
  position: relative;
  border: solid 1px #d5d9dd;
  border-radius: 15px;
  width: 15%;
  width: calc((100% - 132px)/ 5);
  width: -moz-calc((100% - 132px)/ 5);
  width: -webkit-calc((100% - 132px)/ 5);
  width: -o-calc((100% - 132px)/ 5);
  background: #d0ffcb;
}


.lucky-content .menu-reports-content .list-menu-items .menu-item.selected{
  background: red;
}


.wrapper-messages {
  position: absolute;
  top: -200px;
  font-family: 'Avenir';
  font-size: larger;
}